body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    width: 90%;
}

.secondDiv img {
    height: 400px;
    width: 400px;
}